<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        body {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            margin: 16px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            
        }
    </style>
</head>
<body>
    <h1>Hello</h1>
    <h3>Here are the following operations you can perform</h3>
    <ol>
        <li><a href='product/create/'> Create a new product</a></li>
    <br>
    <li></h3>Delete and Update operations can be done in the list </h3><br>
    <a href='product'>view product List</a> </li> 
    <br>
    <li><a href='productinapi'> Filter</a>  (The last is-deleted field indicates the availability of the product)</li>
    <br>
    <li><a href='product/upload_csv/'>Upload the csv file</a></li>
    </ol>
    
</body>
</html>