<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <style>
        
        /* Ensure forms are displayed inline */
        form.inline {
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - {{ product.price }}
            <form class="inline" action="{% url 'product-delete' product.id %}" method="post">
                {% comment %} {% csrf_token %} {% endcomment %}
                {% comment %} <input type="hidden" name="_method" value="delete"> {% endcomment %}
                <button type="submit" class="delete-btn">Delete</button>
            </form>
            
            <!-- Update Button -->
            <form class="inline" action="{% url 'product-update' product.id %}" method="get">
                <button type="submit" class="update-btn">Update</button>
            </form>
            <br>
            <br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
